@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

#root{
    font-family: "Onest", sans-serif;
}

.active{
    color:black;
    font-weight:bold;
    border-bottom:2px solid black;
}